<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSTimbradoCFDIPortBinding" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dev33.facturacfdi.mx:80/WSTimbradoCFDIService"
                binding="basicHttpBinding" bindingConfiguration="WSTimbradoCFDIPortBinding"
                contract="FormasServices.WSTimbradoCFDI" name="WSTimbradoCFDIPort" />
        </client>
    </system.serviceModel>
</configuration>